https://gist.github.com/jaimehrubiks/578c2fc5788838b414b5ce1dca16bf1c

https://gist.github.com/jaimehrubiks/578c2fc5788838b414b5ce1dca16bf1c/raw

@27/08/2017

// Jaimehrubiks

map('?', 'u');
map('u', 'e');
map('J', 'E');
map('K', 'R');
map('F', 'gf');
map('H', 'S');
map('L', 'D');

Hints.characters = "asdfgqwerhluiop";
Hints.scrollKeys = ettings.tabsThreshold = 0;
// settings.newTabPosition = "right";
// settings.newTabPosition = "chromelike"; // Only for jaimehrubiks SurfingKeys build
settings.tabsMRUOrder = false;
settings.historyMRUOrder = false;

settings.nextLinkRegex  = /((>>|next|siguiente)+)/i
settings.prevLinkRegex = /((<<|anterior|prev(ious)?)+)/i



// unmap('<Ctrl-i>');
/*
mapkey('F', 'Open a link in new window', function() {
        Hints.create("a:visible", function(link, event) {
                    window.open(link.getAttribute('href'));
                        })
});
*/

